<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EXP-MANAGER</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">PROFILE</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage-expense">MANAGE MY EXPENSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">DASHBOARD</a>
        </li>
      </ul>
      <div>
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
               User
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            
        </div>
    </div>
   
  </nav>