#edit{
    color: rgb(218, 164, 64);
}

#delete{
    color: rgb(173, 27, 27);
}

#save{
    color: green;
}

#add{
    font-weight: 300!important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size:20px;
    line-height:29px;
}

#addicon{
    color: goldenrod;
    font-size: 50px!important;
}

i { cursor: pointer; }

  

td{
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}