<div class="form-group row" id="add-expense-form">
    <form>
      <div class="row">
        <label for="inputEmail4">Expense Name</label>
        <input type="text" class="form-control" placeholder="Expense Name">
      </div>
      <div class="row">
        <label for="inputEmail4">Expense Category</label>
        <input type="drop" class="form-control" placeholder="Expense Category">
      </div>
      <div class="row">
          <label for="inputEmail4">Date of Expense</label>
          <input type="date" class="form-control" placeholder="Date of Expense">
        </div>
      <div class="row">
          <label for="inputEmail4">Description</label>
          <input type="text" class="form-control" placeholder="comments">
      </div> 
      <hr>
      <div class=" row" id="submitRow">
          <div class="col-sm-6">
            <button id="expense-button" type="submit" class="btn btn-primary">Add Expense</button>
          </div>
      </div>
    </form>
    </div>

